@font-face {
	font-family:"FunnelSans";
	src: url("../fonts/FunnelSans-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family:"FunnelSans";
	src: url("../fonts/FunnelSans-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family:"FunnelSans";
	src: url("../fonts/FunnelSans-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

